[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px solid rgba(86,61,124,.2);
}

.buttonSpacer {
	background-color: white;
	min-width: 10px;
	margin-left: 20px;
}

.patientAddedColour {
	-webkit-animation-name: green; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
    animation-name: green;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-direction: alternate;    
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes green {
    50%   {background-color:white}
    100% {background-color:#66ff99}
}

/* Standard syntax */
@keyframes green {
 	50%   {background-color:white}
    100% {background-color:#66ff99}
}