div.jumbotron {
	height: 768px;
	width: 100%;
	align-content: center;
	
}

.simulationStartButton {
	position: center;
	text-align: center;
	width: 80%;
	max-width: 950px;
	margin-bottom: 50px;
	margin-left: 10%;
	margin-right: 20%;
}

.symphonyStartButton {
	position: center;
	text-align: center;
	width: 80%;
	max-width: 950px;
	margin-bottom: 50px;
	margin-left: 10%;
	margin-right: 20%;
}

.space {
	height: 30%;
}

.backdrop {
	background-image: url("../images/hospitalBackdropFaded.png");
	background-repeat: no-repeat;
	background-size: cover;
}
