
/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;

}

.mainText {
    padding:10px;
  font-size:20px;

  margin:20px auto;
  display:block;
  cursor:pointer;
}